# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Bailey Korfhage
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [42]:
squares=[]
for n in range(1,11):
    squares.append(n**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [43]:
import random
list1=[]
for x in range(10):
    num=random.randrange(1,101)
    list1.append(num)
print(list1)

[68, 93, 58, 8, 75, 13, 23, 26, 5, 73]

In [44]:
max(list1)

93

In [45]:
min(list1)

5

In [47]:
sum(list1)

442

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [48]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [49]:
new_list[-1]

'day'

In [50]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [51]:
College=("Bellarmine", "2001 Neuburg RD")

In [52]:
name,address=College

In [53]:
name

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [54]:
age=int(input('Enter the age of the student: '))
if age <18:
    print('The student is a minor.')
else:
    print('The student is not a minor.')

Enter the age of the student: 12
The student is a minor.

In [55]:
age=int(input('Enter the age of the student: '))
if age <18:
    print('The student is a minor.')
else:
    print('The student is not a minor.')

Enter the age of the student: 45
The student is not a minor.

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [18]:
num=int(input('Enter the number: '))
if num%2!=0 and num>10:
    print('The number is odd and greater than 10.')
else:
    print('The number does not meet the requirements.')

Enter the number: 5
The number does not meet the requirements.

In [19]:
num=int(input('Enter the number: '))
if num%2!=0 and num>10:
    print('The number is odd and greater than 10.')
else:
    print('The number does not meet the requirements.')

Enter the number: 17
The number is odd and greater than 10.

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [21]:
num1=int(input("Enter the number: "))
if num1%11==0:
    print('The number is a multiple of 11.')
else:
    print('The number is not a multiple of 11.')

Enter the number: 1
The number is not a multiple of 11.

In [22]:
num1=int(input("Enter the number: "))
if num1%11==0:
    print('The number is a multiple of 11.')
else:
    print('The number is not a multiple of 11.')

Enter the number: 22
The number is a multiple of 11.

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [23]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
dict1=list(zip(keys,values))
dict1

[(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')]

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [24]:
def maxi(*args):
    return max(args)

In [25]:
maxi(10,5,67,88,49)

88

In [26]:
maxi(12,34,77,99,23,100)

100

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [56]:
def area(side):
     print ('The area of the square is', side**2)

def perim(side):
    print ('The perimeter of the square is', side*4)

In [57]:
area(10)

The area of the square is 100

In [58]:
perim(10)

The perimeter of the square is 40

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [39]:
count=0
list3=[]
x=10
while count<11:
    list3.append(x)
    x+=1
    count+=1
print(list3)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
list2=[]
for x in range(10,21):
    list2.append(x)
print(list2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]